node_modules/
**/node_modules.smoketestbak/
dist/
.scp/
.env
Makefile*.mta
mta_archives
mta-*
resources
archive.zip
.*_mta_build_tmp
gen/
app/
*.mtar
default-env.json
db.sqlite
db.sqlite-shm
db.sqlite-wal
webapp/skillsphere.zip

# added by cds
.cdsrc-private.json
